<div
  class="flex gap-6 max-w-4xl flex-col sm:min-w-[40rem] min-w-[20rem]"
  *ngIf="post"
>
  <div class="basis-1/3 flex flex-col gap-6 text-center">
    <h1 class="text-4xl font-extrabold">{{ post.title }}</h1>

    <h2 class="text-xl font-semibold">
      Author:
      <span
        class="cursor-pointer"
        [routerLink]="['/', 'blog', post.createdBy.username]"
        >{{ post.createdBy.username }}</span
      >
    </h2>
    <h3 class="text-sm font-semibold">Created: {{ post.createdAt | date }}</h3>
  </div>
  <div class="basis-2/3 card">
    <div class="font-light text-lg">
      {{ post.content }}
    </div>
  </div>
</div>
